
.cuerpo{
    background-color: #F9EBE0; 
    font-family: 'Acme', sans-serif;
}

.cuerpo-dos{
    background-color: #F9EBE0; 
    font-family: 'Acme', sans-serif;   
}
.food{
    margin-top: 20%
}
p{
    font-size: 40px;
    color: #2C363F;
    padding-left: 10%;
}
.pizza{
    margin-left: 19%;
    margin-top: 12%;
    width: 62%;
}
h1{
    font-family: 'Acme', sans-serif;
}
input, button{
    -webkit-box-shadow: 10px 12px 2px -6px rgba(199,187,199,0.39);
-moz-box-shadow: 10px 12px 2px -6px rgba(199,187,199,0.39);
box-shadow: 10px 12px 2px -6px rgba(199,187,199,0.39);
margin-left: 10%;
margin-right: 10%
}
.alas{
    margin-left: 53%;
    width: 50%;
    margin-top: 10%;
}
#mapa{
    height: 300px; 
    width: 100%; 
    margin-bottom: 4%
}
header{
    background-color: #F9EBE0;
    color: #E88126;
    -webkit-box-shadow: 10px 12px 2px -6px rgba(199,187,199,0.39);
-moz-box-shadow: 10px 12px 2px -6px rgba(199,187,199,0.39);
box-shadow: 10px 12px 2px -6px rgba(199,187,199,0.39);
}
#mapa img {
    width: 99%;
    height: 84%;

}
food p{
    width: 20%;
    margin-bottom: 40%
}
queso img{
    margin-top:30%
}
footer{
    text-align: center;
    color: #2C363F;
    margin-top: 50%;
    font-family: 'Indie Flower', cursive;
}
input-group{
margin-left: 10% !important;

}